
<div class="center jumbotron">
  <h1>Welcome to Body Mass Index Calculator</h1>
  <h3>
    This is the home page for the Web application to calculate the body mass index given the mass and height accordingly to the <a href="http://en.wikipedia.org/wiki/Body_mass_index#Categories">standard</a>.   </h3>
    <% if logged_in? %>
     <p>Calculate your body mass index.</p>
    <% else %>
    <p>You should register to use the application and calculate your body mass index.</p>
    <% end %>
</div>
